<!-- This link would go in your header tag -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->

<div class="container">

  <div class="row">
    <div class="col-md-12 col-md-offset-3 text-center">
      <br>
      <h4>This is my site</h4>

      <br>

      <!--<p>
        <img src="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/camera-photo-128.png" alt="">
      </p>-->
      <p>
        <img src="../../assets/404_small.gif" alt="">
      </p>
      <p>Coś poszło nie tak.

        <br>
      </p>

      <hr>

      <h2><i class="fa fa-exclamation-triangle" style="color:red"></i>
     
 Strona z podanym adresem nie istnieje<small>, bład 404</small></h2>


      <p><a href="/home">Klinkij tutaj</a> by powrócić do strony domowej</p>

      <p>
        <button class="btn btn-info" (click)="goBack()">Wstecz</button></p>

    </div>

  </div>
</div>