<!--<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/home">Fixed navbar</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['/home']" class="nav-link" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/members']" class="nav-link" routerLinkActive="active">Members</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/gallery']" class="nav-link" routerLinkActive="active">Gallery</a>
      </li>
    </ul>
  </div>
</nav>-->

<!-- Static navbar -->

 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" [routerLink]="['/home']">Juke_Team</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li class="nav-item">
                    <a [routerLink]="['/home']" class="nav-link" routerLinkActive="active">Home</a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/members']" class="nav-link" routerLinkActive="active">Members</a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/gallery']" class="nav-link" routerLinkActive="active">Gallery</a>
                  </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


<router-outlet></router-outlet>